# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000

# App Configuration
NEXT_PUBLIC_APP_NAME=WallCod Portfolio
NEXT_PUBLIC_APP_VERSION=1.0.0

# Feature Flags
NEXT_PUBLIC_ENABLE_ANALYTICS=false
NEXT_PUBLIC_ENABLE_DARK_MODE=true

# Social Links
NEXT_PUBLIC_GITHUB_URL=https://github.com/WallCod
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/wallax-figueiredo-41116b285/
NEXT_PUBLIC_TWITTER_URL=https://x.com/black14691
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/wallaxsf
